<body data-ng-controller="MainControllerController">

<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- Include sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
                <div data-ng-include src="'app/views/sidebar.html'"></div>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- Include top nav -->
                <div class="navbar navbar-blue navbar-static-top">
                    <div data-ng-include src="'app/views/topbar.html'"></div>
                </div>
                <!-- /top nav -->

                <div class="padding">
                    <div class="full col-sm-9">

 <!-- BottleBeerController Addition into body of nav-->


                        <div class="row">
                            <body data-ng-controller="BottleBeerController">

                            <h2>{{ appSettings.title }}</h2>
                            <h3>Bottle Beers</h3><span>Total: {{total_rows}}</span>
                            <br />
                            Filter: <input type="text" data-ng-model="bottleBeerFilter.brand" placeholder="Filter by brand" />
                            <br />
                            <br />
                            <br />
                            <table class="table table-striped">
                                <tr>
                                    <!-- NOTE: USE THE PROPER FIELD -->
                                    <th data-ng-click="doSort('_id')">ID</th>
                                    <th data-ng-click="doSort('brewer')">Brewer</th>
                                    <th data-ng-click="doSort('brand')">Brand</th>
                                    <th data-ng-click="doSort('price')">Price</th>
                                    <th data-ng-click="doSort('size')">Size</th>
                                    <th data-ng-click="doSort('abv')">&#37ABV</th>
                                    <th data-ng-click="doSort('major_style')">Major_Style</th>
                                    <th data-ng-click="doSort('minor_style')">Minor_Style</th>
                                    <th data-ng-click="doSort('country')">Country</th>
                                    <th data-ng-click="doSort('town')">Town</th>

                                </tr>

                                <tr data-ng-repeat="beer in bottleBeers | filter:bottleBeerFilter | orderBy:sortBy:reverse">
                                    <!-- NOTE: USE THE PROPER FIELDS -->
                                    <td>{{beer._id}}&nbsp;</td>
                                    <td>{{beer.brewer}}</td>
                                    <td>{{beer.brand}}</td>
                                    <td>{{beer.price}}</td>
                                    <td>{{beer.size}}</td>
                                    <td>{{beer.abv}}</td>
                                    <td>{{beer.major_style}}</td>
                                    <td>{{beer.minor_style}}</td>
                                    <td>{{beer.country}}</td>
                                    <td>{{beer.town}}</td>



                                </tr>
                            </table>
                            <br />
                            <br />
                            <footer>Version: {{ appSettings.version }} </footer>

                            </body>


                        </div><!--/row-->

                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                            </div>
                        </div>

                        <div class="row" id="footer">
                            <div class="col-sm-6">

                            </div>

                        </div>

                        <hr>

                        <p class="text-center">
                            <a href="http://infiniteinnovationsllc.com" target="ext">Copyright &copy Infinite Innovations LLC. Includes several other licensed work. For more information click here.</a>
                        </p>

                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->

        </div>
    </div>
</div>

</body>
<!--
<h2>{{ appSettings.title }}</h2>
<p><strong>{{ message }}</strong> User</p>
<p>Quick Links:</p>
<ul>
    <li><a href="#/BottleBeers">Bottled Beer</a></li>
    <li><a href="#/DraftBeers">Draft Beer</a></li>
    <li><a href="#/Wines">Wine</a></li>
    <li><a href="#/Liquor">Liquor</a></li>
    <li><a href="#/Cocktail">Cocktails</a></li>
</ul>
<br />
<footer>Version: {{ appSettings.version }} </footer>

-->