<body data-ng-controller="DraftBeerController">

<h2>{{ appSettings.title }}</h2>
<h3>Bottle Beers</h3><span>Total: {{total_rows}}</span>
<br />
Filter: <input type="text" data-ng-model="bottleBeerFilter.brand" placeholder="Filter by brand" />
<br />
<br />
<br />
<table>
    <tr>
        <!-- NOTE: USE THE PROPER FIELD -->
        <th data-ng-click="doSort('_id')">ID</th>
        <th data-ng-click="doSort('brewer')">Brewer</th>
        <th data-ng-click="doSort('brand')">Brand</th>
        <th data-ng-click="doSort('price')">Price</th>
        <th data-ng-click="doSort('size')">Size</th>
        <th data-ng-click="doSort('abv')">&#37ABV</th>
        <th data-ng-click="doSort('major_style')">Major_Style</th>
        <th data-ng-click="doSort('minor_style')">Minor_Style</th>
        <th data-ng-click="doSort('country')">Country</th>
        <th data-ng-click="doSort('town')">Town</th>

    </tr>

    <tr data-ng-repeat="beer in bottleBeers | filter:bottleBeerFilter | orderBy:sortBy:reverse">
        <!-- NOTE: USE THE PROPER FIELDS -->
        <td>{{beer._id}}&nbsp;</td>
        <td>{{beer.brewer}}</td>
        <td>{{beer.brand}}</td>
        <td>{{beer.price}}</td>
        <td>{{beer.size}}</td>
        <td>{{beer.abv}}</td>
        <td>{{beer.major_style}}</td>
        <td>{{beer.minor_style}}</td>
        <td>{{beer.country}}</td>
        <td>{{beer.town}}</td>



    </tr>
</table>
<br />
<br />
<footer>Version: {{ appSettings.version }} </footer>

</body>