<body data-ng-controller="CocktailController">

<h2>{{ appSettings.title }}</h2>
<h3>Cocktail</h3><span>Total: {{total_rows}}</span>
<br />
Filter: <input type="text" data-ng-model="CocktailFilter.drink_name" placeholder="Filter by name" />
<br />
<br />
<br />
<table class="table table-striped">
    <tr>
        <!-- NOTE: USE THE PROPER FIELD -->
        <th data-ng-click="doSort('_id')">ID</th>
        <th data-ng-click="doSort('drink_name')">Drink Name</th>
        <th data-ng-click="doSort('main_ingredient')">Main Ingredient</th>
        <th data-ng-click="doSort('price')">Price</th>
        <th data-ng-click="doSort('description')">Description</th>

    </tr>

    <tr data-ng-repeat="olive in Cocktail | filter:CocktailFilter | orderBy:sortBy:reverse">
        <!-- NOTE: USE THE PROPER FIELDS -->
        <td>{{olive._id}}&nbsp;</td>
        <td>{{olive.drink_name}}</td>
        <td>{{olive.main_ingredient}}</td>
        <td>{{olive.price}}</td>
        <td>{{olive.description}}</td>



    </tr>
</table>
<br />
<br />
<footer>Version: {{ appSettings.version }} </footer>

</body>