<!-- sidebar -->
<h4 class="hidden-xs">Site Map:</h4>

<ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
</ul>

<ul class="nav hidden-xs" id="lg-menu">
    <li class="active"><a href="#/BottleBeers"><i class="glyphicon glyphicon-tower"></i> Bottled Beer</a></li>
    <li><a href="#/DraftBeers"><i class="glyphicon glyphicon-unchecked"></i> Draft Beer</a></li>
    <li><a href="#/Wines"><i class="glyphicon glyphicon-leaf"></i> Wine</a></li>
    <li><a href="#/Liquor"><i class="glyphicon glyphicon-flash"></i> Liquor</a></li>
    <li><a href="#/Cocktail"><i class="glyphicon glyphicon-glass"></i> Cocktails</a></li>
</ul>

<ul class="list-unstyled hidden-xs" id="sidebar-footer">
    <li>
        <a href="http://infiniteinnovationsllc.com"><h3>Infinite</h3> <i class="glyphicon glyphicon-info-sign"></i> Innovations</a>
    </li>
</ul>

<!-- tiny only nav-->
<ul class="nav visible-xs" id="xs-menu">
    <li class="active"><a href="#/BottleBeers"><i class="glyphicon glyphicon-tower"></i></a></li>
    <li><a href="#/DraftBeers"><i class="glyphicon glyphicon-unchecked"></i></a></li>
    <li><a href="#/Wines"><i class="glyphicon glyphicon-leaf"></i></a></li>
    <li><a href="#/Liquor"><i class="glyphicon glyphicon-flash"></i></a></li>
    <li><a href="#/Cocktail"><i class="glyphicon glyphicon-glass"></i></a></li>
</ul>
<!-- /sidebar -->