<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- Include sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
                <div data-ng-include src="'app/views/sidebar.html'"></div>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- Include top nav -->
                <div class="navbar navbar-blue navbar-static-top">
                    <div data-ng-include src="'app/views/topbar.html'"></div>
                </div>
                <!-- /top nav -->

                <div class="padding">
                    <div class="full col-sm-9">

                        <!-- BottleBeerController Addition into body of nav-->


                        <div class="row">

                            <h2>{{ appSettings.title }}</h2>

                            <h3>{{ Wine.vintner }}</h3>
                            <br/>

                            <!-- See http://stackoverflow.com/questions/5899337/proper-way-to-make-html-nested-list -->
                            <ul class="_no-icon">
                                <li><strong>Style</strong>
                                    <ul class="_no-icon"><li>{{ Wine.style }}</li></ul>
                                </li>

                                <li><strong>Type</strong>
                                    <ul class="_no-icon"><li>{{ Wine.type }}</li></ul>
                               </li>

                                <li><strong>Bottle Price</strong>
                                    <ul class="_no-icon"><li>{{ Wine.bottle_price }}</li></ul>
                                </li>

                                <li><strong>Taste Notes</strong>
                                    <ul class="_no-icon"><li>{{ Wine.tasting_notes }}</li></ul>
                                </li>

                            </ul>
                            <br/>

                            <footer>Version: {{ appSettings.version }}</footer>

                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#">Twitter</a>
                                <small class="text-muted">|</small>
                                <a href="#">Facebook</a>
                                <small class="text-muted">|</small>
                                <a href="#">Google+</a>
                            </div>
                        </div>

                        <div class="row" id="footer">
                            <div class="col-sm-6">

                            </div>

                        </div>

                        <hr>

                        <p class="text-center">
                            <a href="http://infiniteinnovationsllc.com" target="ext">Copyright &copy Infinite
                                Innovations LLC. Includes several other licensed work. For more information click
                                here.</a>
                        </p>

                    </div>
                    <!-- /col-9 -->
                </div>
                <!-- /padding -->
            </div>
            <!-- /main -->

        </div>
    </div>
</div>
